<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
<link rel="stylesheet" type="text/css" href="../resources/css/login.css" />
<title th:text="#{shoppingBasket.title}">Warenkorb</title>
</head>
<body>
	<div class="all">
		<header>
			<h1 th:text="#{shoppingBasket.title}">Warenkorb</h1>
		</header>
		<nav th:include="navigation :: navigation"></nav>

		<div class="content">
			<div th:unless="${basket.empty}">
				<table>
					<caption th:text="#{shoppingBasket.title}">Warenkorb</caption>
					<thead>
						<tr>
							<th th:text="#{shoppingBasket.movieTitle}">Titel</th>
							<th th:text="#{shoppingBasket.count}">Anzahl</th>
							<th th:text="#{shoppingBasket.price}">Preis</th>
						</tr>
					</thead>
					<tbody th:remove="all-but-first">

						<tr th:each="orderline : ${basket.orderLines} ">
							<td th:text="${orderline.productName}">Last Action Hero</td>
							<td th:text="${orderline.quantity}">10</td>
							<td th:text="${orderline.price}">10 Euro</td>
						</tr>
						<tr>
							<td>Last Action Hero</td>
							<td>10</td>
							<td>10 Euro</td>
						</tr>
						<tr>
							<td>Last Action Hero</td>
							<td>10</td>
							<td>10 Euro</td>
						</tr>
						<tr>
							<td>Last Action Hero</td>
							<td>10</td>
							<td>10 Euro</td>
						</tr>

					</tbody>
				</table>
				<p th:text="#{shoppingBasket.sum(${basket.price})}">Summe: 100 Euro</p>
				<div style="margin: auto;" sec:authorize="hasRole('ROLE_CUSTOMER')">
					<form method="post" action="buy">
						<button th:text="#{shoppingBasket.buy}" type="submit"></button>
					</form>
				</div>
			</div>

			<p th:if="${basket.empty}" th:text="#{shoppingBasket.empty}">Leer</p>
		</div>
	</div>
</body>
</html>