<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
		<title th:text="${title}">Katalog</title>
	</head>
<body>
	<div class="all">
		<header>
			<h1 th:text="${title}">Katalog</h1>
		</header>
		<nav th:include="navigation :: navigation">

		</nav>
		
		<div class="content">
			<div class="catalog" th:remove="all-but-first">

				<a th:each="disc : ${catalog}" th:href="@{'/detail/' + ${disc.identifier}}" href="detail.html">
					<div class="disc">  
						<h4 th:text="${disc.name}">Last Action Hero</h4>
						<img th:src="@{'/resources/img/cover/' + ${disc.image} + '.jpg'}" class="thumbnail" src="../resources/img/cover/lac.jpg" alt="" />
						<p th:text="${disc.price}" class="price">9.99 €</p>
					</div>
				</a>			
			
			
				<a href="detail.html">
					<div class="disc">  
						<h4>Last Action Hero</h4>
						<img class="thumbnail" src="../resources/img/cover/lac.jpg" alt="" />
						<p class="price">9.99 €</p>
					</div>
				</a>
				<a href="detail.html">
					<div class="disc">  
						<h4>Last Action Hero</h4>
						<img class="thumbnail" src="../resources/img/cover/lac.jpg" alt="" />
						<p class="price">9.99 €</p>
					</div>
				</a>
				<a href="detail.html">
					<div class="disc">  
						<h4>Last Action Hero</h4>
						<img class="thumbnail" src="../resources/img/cover/lac.jpg" alt="" />
						<p class="price">9.99 €</p>
					</div>
				</a>
				<a href="detail.html">
					<div class="disc">  
						<h4>Last Action Hero</h4>
						<img class="thumbnail" src="../resources/img/cover/lac.jpg" alt="" />
						<p class="price">9.99 €</p>
					</div>
				</a>
				<a href="detail.html">
					<div class="disc">  
						<h4>Last Action Hero</h4>
						<img class="thumbnail" src="../resources/img/cover/lac.jpg" alt="" />
						<p class="price">9.99 €</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</body>
</html>