<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
		<title th:text="#{customers.title}">Kundenliste</title>
	</head>
<body>
	<div class="all">
		<header>
			<h1 th:text="#{customers.title}">Kundenliste</h1>
		</header>
		<nav th:include="navigation :: navigation" ></nav>
		
		<div class="content">
			<table>
				<caption th:text="#{customers.title}">Kundenliste</caption>
				<thead>
					<tr>
						<th th:text="#{customers.name}">Name</th>
						<th th:text="#{customers.address}">Anschrift</th>
					</tr>
				</thead>
				<tbody th:remove="all-but-first">
						<tr th:each=" customer : ${customerList}">
							<td th:text="${customer.userAccount.identifier}">Power Paul</td>
							<td th:text="${customer.address}">Wasaplatz 10</td>
						</tr>
																			
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>