<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
		<title th:text="${disc.name}">Last Action Hero</title>
	</head>
<body>
	<div class="all">
		<header>
			<h1 th:text="${disc.name}">Last Action Hero</h1>
		</header>
		<nav th:include="navigation :: navigation" ></nav>
		
		
		<div class="content">
			<div class="detailImg">
				<img th:src="@{'/resources/img/cover/' + ${disc.image} + '.jpg'}" src="../resources/img/cover/lac.jpg" alt="" />
			</div>
		
			<div class="detailDescription">
				<h2 th:text="${disc.name}">Last Action Hero</h2>
				<p>Preis:</p><p th:text="${disc.price}">9.99€</p><br />
				<p>Genre:</p><p th:text="${disc.genre}">Äktschn</p><br />
				<p>Vorrat:</p><p th:text="${quantity}">10 Stück</p><br /> 
				
				<form method="post" action="/addDisc" >
					<input type="hidden" name="pid" value="0" th:value="${disc.identifier}" /> 
					<label for="number">Anzahl</label>
					<input id="number" type="number" name="number" min="1" max="5" step="1" value="1" /><br />
					<input	type="submit" value="Zum Warenkorb hinzufügen" />
				</form>
			</div>

			<p>Was andere Kunden über diesen Film sagen</p>	<br />
			
			<div class="detailComments" th:remove="all-but-first" >
				<article class="comment" th:each="comment : ${disc.comments}" th:text="${comment}">Erster !!!1111elf</article>
				<article class="comment">Deine Mutter </article>
			</div>
			
			<br />
			
			<div class="salespoint">
				<form method="post" action="/comment">
					<fieldset>
						<legend>Kommentar hinzufügen</legend>
						<input type="hidden" name="pid" value="0" th:value="${disc.identifier}" />
						<textarea name="comment" cols="40" rows="5"></textarea><br />
						<label for="rating">Bewertung</label>
						<input id="rating" type="text" name="rating" value="5" /> 
						<input type="submit" value="Senden" />
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</body>
</html>