<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	<link rel="stylesheet" type="text/css" href="../resources/css/login.css" />
	<title th:text="#{home.title}">Videoshop</title>
</head>
<body>
	<div class="all">
		<header>
			<h1 th:text="#{home.title}">Videoshop</h1>
		</header>
		<nav th:include="navigation :: navigation">
			<ul>
				<li><a href="register.html">Registrierung</a></li>
				<li><a href="orders.html">Bestellungen</a></li>
				<li><a href="stock.html">Lager</a></li>
				<li><a href="catalog.html">Dvd Katalog</a></li>
				<li><a href="catalog.html">Blu-ray Katalog</a></li>
				<li><a href="basket.html">Warenkorb</a></li>
				<li class="loginlogout"><a href="login">Login</a></li>
				<li class="loginlogout"><a href="logout">Logout</a></li>
			</ul>
		</nav>
		
		<div class="content">
			<p th:text="${'Hallo ' + #authentication.name}">Hallo Nutzer </p>

			<p th:text="#{home.welcome}">Willkommen zu unserem Videoshop.</p>
			
			<div th:switch="${#authorization.expression('isAuthenticated()')}">
			  <span th:case="${true}">Logged (TRUE) - 3</span>
			  <span th:case="${false}">Not Logged (FALSE) - 3</span>
			  <span th:case="*">Ops....!! (WHAT???) - 3</span>
			</div>
			
			<div th:switch="${#authentication.authenticated}">
			  <span th:case="${true}">Logged (TRUE) - 3</span>
			  <span th:case="${false}">Not Logged (FALSE) - 3</span>
			  <span th:case="*">Ops....!! (WHAT???) - 3</span>
			</div>
		
		</div>
	</div>
</body>
</html>