<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.example.com">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	</head>
<body>
	<nav th:fragment="navigation">

		<ul>
			<li sec:authorize="!hasAnyRole('ROLE_BOSS','ROLE_CUSTOMER')"><a th:href="@{/register}" href="register.html">Registrierung</a></li>


			<li sec:authorize="hasRole('ROLE_BOSS')"><a th:href="@{/orders}" href="orders.html">Bestellungen</a></li>
			<li sec:authorize="hasRole('ROLE_BOSS')"><a th:href="@{/stock}" href="stock.html">Lager</a></li>
			<li sec:authorize="hasRole('ROLE_BOSS')"><a th:href="@{/customers}" href="customers.html">Kundenliste</a></li>

			<li><a th:href="@{/dvdCatalog}" href="catalog.html">Dvd Catalog</a></li>
			<li><a th:href="@{/blurayCatalog}" href="catalog.html">Blu-ray Catalog</a></li>
			<li><a th:href="@{/shoppingBasket}" href="basket.html">Warenkorb</a></li>

			<li th:if="${!#authorization.expression('isAuthenticated()')}" class="loginlogout"><a href="login">Login</a></li>

			<li th:if="${#authorization.expression('isAuthenticated()')}" class="loginlogout">
				<form action="/logout" method="post">
					<input type="submit" value="Logout" />
				</form>
			</li>


		</ul>
	</nav>
</body>
</html>