<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
		<title th:text="#{register.title}">Registrierung</title>
	</head>
<body>
	<div class="all">
		<header>
			<h1 th:text="#{register.title}">Registrierung</h1>
		</header>
		<nav th:include="navigation :: navigation"></nav>

		<div class="content">
			<div class="salespoint">

				<form method="post" action="/registerNew" th:object="${registrationForm}">
					

					<fieldset>
						<legend th:text="#{register.title}">Benutzerkonto</legend>
						
						<div th:if="${#fields.hasErrors('*')}">
							<p>Einige Angaben sind nicht korrekt.</p>
						</div>
						
						<label th:text="#{register.name}" for="name">Name</label>
						<input id="name" th:field="*{name}" th:errorclass="fieldError" type="text" name="name" />
						<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Der Name darf nicht leer sein.</p>
						<br />
						
						<label th:text="#{register.password}" for="password">Passwort</label>
						<input id="password" th:field="*{password}" th:errorclass="fieldError" type="text" name="password" /><br /> 
						<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Das Passwort darf nicht leer sein.</p>
						
						<br />
						<label th:text="#{register.address}" for="address">Straße</label>
						<input id="address" th:field="*{address}" th:errorclass="fieldError" type="text" name="address" />
						<p th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Die Adresse darf nicht leer sein.</p>
					
						<br />
						<input type="submit" th:value="#{register.submit}" value="Registrieren" />
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</body>
</html>