<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	<title th:text="#{stock.title}">Bestand</title>
</head>
<body>
	<div class="all">
		<header>
			<h1 th:text="#{stock.title}">Bestand</h1>
		</header>
		<nav th:include="navigation :: navigation" ></nav>
		
		<div class="content">
			<table>
				<caption th:text="#{stock.title}">Bestand</caption>
				<thead>
					<tr>
						<th th:text="#{shoppingBasket.movieTitle}">Titel</th>
						<th th:text="#{shoppingBasket.count}">Anzahl</th>
					</tr>
				</thead>
				<tbody th:remove="all-but-first">
						<tr th:each=" item : ${stock}">
							<td th:text="${item.product.name}">Last Action Hero</td>
							<td th:text="${item.quantity}">9000</td>
						</tr>
						<tr>
							<td>Last Action Hero</td>
							<td>9000</td>
						</tr>
						<tr>
							<td>Last Action Hero</td>
							<td>9000</td>
						</tr>
						<tr>
							<td>Last Action Hero</td>
							<td>9000</td>
						</tr>
						<tr>
							<td>Last Action Hero</td>
							<td>9000</td>
						</tr>
						<tr>
							<td>Last Action Hero</td>
							<td>9000</td>
						</tr>																								
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>