@import "spring.css";

body {
    font-size: 1.1em;
}

/* Hide Spring header */
body.toc2 {
    padding: 0;
}

#back-to-index {
    display: none;
}

#banner-container {
    overflow: visible;
    border: none;
}

/* Custom TOC header */

#toc::before {
    content: "Salespoint";
    padding: 2em 0em 0.75em 0.7em;
    margin: 0em 3.5em 0em 0.5em;
    display: block;
    border-bottom: 1px solid #ddddd8;
    font-weight: bold;
}

/* Code links */

a > code {
    color: #097dff;
}

.admonitionblock {
    border-width: 0px 0px 0px 5px !important;
}

.stretch {
    width: 100%;
}

#content {
    padding-right: 5%;
}

body.toc2 #header, body.toc2 #content, body.toc2 #footnotes, body.toc2 #footer {
    max-width: 1500px;
}

.imageblock, .imageblock > .title {
    text-align: center;
}

th {
    white-space: nowrap;
}

td p {
    margin-bottom: 0;
}

ul {
    margin-bottom: 0;
}

table ul>li p {
    margin-bottom: 0;
}

table .ulist .ulist {
    margin-bottom: 0;
}

/* Grouped lists in tables */

div.ulist ~ div.paragraph {
    margin-top: 1em;
}

div.paragraph ~ div.ulist {
    margin-top: 0.25em;
}
