/* sinvoll da damit 1em == 10px */
* {
	padding: 0;
	margin: 0;
	font-size: 1em;
	font-weight: normal;
}

body {
	font-size: 62, 5%;
	color: #444;
}

/* sinvoll da damit 1em == 10px */
h1 {
	line-height: 250%;
	font-size: 2em;
	color: grey;
	text-align: center;
	font-variant: small-caps;
	font-size: 2em;
}

h2 {
	line-height: 250%;
	font-size: 1em;
	text-align: center;
	color: #BA0000;
	font-size: 1em;
}

fieldset {
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	padding: 1em 1em 1em 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

fieldset legend {
	color: black;
}

fieldset label {
	color: black;
}

fieldset input {
	width: 100%;
	margin: 0.2em 0em 0.4em 0em;
}

fieldset textarea {
	margin: 0.2em 0em 0.4em 0em;
	width: 100%;
	height: 50px;
}

a {
	font: 0.8em sans-serif;
	text-decoration: none;
	color: black;
	font-variant: small-caps;
}

a:hover {
	font: 1em sans-serif;
	text-decoration: none;
	color: #BA0000;
}

/* a.active {
	font: 1.0em sans-serif;
	font-weight: 600;
} */

button {
	margin-top: 10px;
	border-top: 1px solid gray;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid gray;
	background-color: #dedede;
	padding: 2px;
	color: black;
}

.center {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

table.calendar {
	table-layout: fixed;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	color: #333333;
}

table.calendar th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}

table.calendar td {
	valign:top;
	border-width: 1px;
	padding: 0px;
	margin: 0px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

div.dayNumber {
    background-color: #efefef;
    line-height: 200%;
    width: 95%;
    padding-left: 5%;
}

div.dayEntry {
    line-height: 150%;
    width: 100%;
    margin-left: 1em;
}