/* CSS RESET */

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	width: 940px;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background: #f0f0f0; 
}

/* Nav */

nav {
	width:1000px;
	float:right;
	color: white;
	background: #B9D3F3; 
}

nav ul {
	overflow:auto;
	margin: 1em;
	list-style:none;
}

nav ul li {
	margin-right: 1em;
	float:left;
	font-variant: small-caps;
}

nav ul li a{
	font: 0.8em sans-serif;
	font-size: 20px;
	text-decoration: none;
}

nav ul li.loginlogout {
	 float:right; 
}





/*
a {
	
	
	color: #2e7cdc;
}
*/

/* überschriften */

h1 {
	color: #ffffff;
	font: 2em sans-serif;
	font-variant: small-caps;
	padding-top: 10px;
	padding-left: 10px;
}

h2 {
	font-size: 1.5em;
	color: #2e7cdc;
}

h3 {
	color: #2e7cdc;
	font: 0.9em sans-serif;
	text-decoration: underline;
	color: white;
}

h4 {
	color: #2e7cdc;
	font-size:1.2em;
	font-weight: bold;
}

p {
	text-align:center;
}


div.salespoint {
	padding:1em;
	width: 35em;
	margin:auto;
}

div.salespoint fieldset {
	border: 2px solid grey; 
	padding:1em;
	margin:2em; 
}

label { 
    display:block;
    width:420px;
    overflow:auto;
    font-family:sans-serif;
    font-size:20px;
    color:#444;
    text-shadow:0 0 2px #ddd;
}

input {
    border:2px solid #B9D3F3;
    border-radius:7px;
    padding:5px;
}

input:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.fieldError { 
    outline:none;
    border-color:red;
    box-shadow:0 0 10px red;
}

a:hover {
	/* font: 0.8em sans-serif; */
	text-decoration: none;
	color: white;
	background-color: #2e7cdc;
}


div.all {
	width: 1000px;
	margin: 0 auto;
}


p.about {
	text-align:right;
	font-size: 11px;
}




header {
	width:100%;
	height: 200px;
	background-image: url(../img/cds.jpg);
	background-repeat: no-repeat;
	font-size: 20px;
	margin-top: 1em;
}



/*content*/

div.content {
	float:left;
	width:100%;
	background-color:white;
	min-height:500px;
}

div.catalog {
	
}

ul {
	list-style:none;
}


/* disc */


div.disc {
	border: 1px #a4a4a4 solid;
	background-color: #f9f9f9;
	width: 200px;
	height: 290px;
	padding: 10px;
	margin: 5px;
	float: left;
	color: black;
	font-size: 12px;
	
}

div.disc:hover {
	background-color: #eeeeee;
	
}

a.disc {
	display:block;
	width: 200px;
	height: 280px;
}

img.thumbnail {
	margin-top: 8px;
	margin-left: 25px;
	width:150px;
}

p.price {
	padding-top:3px;
	align: left;
}


div.detailImg {
	float:left;
	padding:10px;
}

div.detailDescription {
	float:left;
	padding:10px;
	width=300px;
}

div.detailComments {
	clear:both;
	width:50%;
	margin:auto;
}

article.comment {  
	margin: auto;
	width: 50%;
    border-radius: 5px;  
	background: #e0e0e0;
	border-width: 3px;
	border: 2px solid #a0a0a0;
	padding: 10px 20px;
	margin: 10px 0px;
}

table {
	border:1px solid #B3C2C7;
	font-size:1em;
	border-spacing:0;
	text-align:center;
	margin-left:auto; 
	margin-right:auto;
}


table thead {
	border:1px solid #B3C2C7;
	background-color: #f9f9f9;
	/* color:#2e7cdc; */
	background-color: white;
}


table th {
	border:1px solid #B3C2C7;
	padding: 0.3em 1.5em ;
}

table td {
	border:1px solid #B3C2C7;
	padding: 0.3em 1.5em ;
}

table tbody tr:nth-child(odd) {
	background-color: #f9f9f9;
}

table tbody tr:nth-child(even) {
	background-color: #eeeeee;
}

