/* sinvoll da damit 1em == 10px */

* {
	padding:0;
	margin:0;
	font-size:1em;
	font-weight:normal;
}

body {
	font-size:62,5%;
	background-color: #e0e0e0;
	font: 1em sans-serif;
}

/* sinvoll da damit 1em == 10px */


/* überschriften */

h1 {
	color: #ffffff;
	font: 2em sans-serif;
	font-variant: small-caps;
	padding-top: 10px;
	padding-left: 10px;
}

h2 {
	font-size: 1.5em;
	color: #2e7cdc;
}

h3 {
	color: #2e7cdc;
	font: 0.9em sans-serif;
	text-decoration: underline;
	color: white;
}

h4 {
	color: #2e7cdc;
	font-size:1.2em;
	font-weight: bold;
}

p {
	text-align:center;
}

a {
	font: 0.8em sans-serif;
	text-decoration: none;
	color: #2e7cdc;
}

a:hover {
	font: 0.8em sans-serif;
	text-decoration: none;
	color: white;
	background-color: #2e7cdc;
}

div.all{
	width: 1024px;
	margin: 0 auto;
}


p.about {
	text-align:right;
	font-size: 11px;
}


/*navigation*/

header.top {
	width:100%;
	height: 100px;
	background-color: #2e7cdc;
	border-bottom: 1px solid #a4a4a4;
	background-image: url(../img/cds.jpg);
	background-position: right;
	background-repeat: no-repeat;
	font-size: 20px;
}

header.top a {
	font-size: 20px;
	color: white;
}


nav {
	float:right;
	margin-top: 22px;
	margin-right: 0px;
	background-color: #333333;
	opacity: 0.9;
	
}

/*content*/

div.content {
	float:left;
	width:100%;
	background-color:white;
	min-height:500px;
}

ul {
	list-style:none;
}


/*item*/



div.item {
	border: 1px #a4a4a4 solid;
	background-color: #f9f9f9;
	width: 200px;
	height: 280px;
	padding: 10px;
	margin: 5px;
	float: left;
	color: black;
	font-size: 12px;
	
}

div.item:hover {
	background-color: #eeeeee;
	
}

a.item {
	display:block;
	width: 200px;
	height: 280px;
}

img.itemThumbnail {
	margin-top: 8px;
	margin-left: 25px;
	width:150px;
	
	
}

p.price {
	padding-top:3px;
	align: left;
}

/* login */

div.login {
	border: 2px solid #2e7cdc; 
	margin:2em; 
	padding:1em;
	width: 30%;
}
