/* sinvoll da damit 1em == 10px */

* {
	padding:0;
	margin:0;
	font-size:1em;
	font-weight:normal;
}

body {
	font-size:62,5%;
	color:#444;
}

/* sinvoll da damit 1em == 10px */

/* überschriften */

h1 {
	font-size: 2em;
	color:grey;
	text-align:center;
	font-variant: small-caps;
}

h2 {
	font-size: 1em;
	color: #BA0000;
}

p {
	text-align:center;
}

a {
	font: 0.8em sans-serif;
	text-decoration: none;
	color: black;
}

a:hover {
	font: 1em sans-serif;
	text-decoration: none;
	color: #BA0000;
}

h3 a:hover {
	font: 0.9em sans-serif;
	text-decoration: underline;
	color: white;
}

a.active {
	font: 1.0em sans-serif;
	font-weight: 600;
}


/*item*/

div.allItems{
	float:left;
	width:100%;
}

div.item{
	border: 1px #a4a4a4 solid;
	background-color: #f9f9f9;
	width: 200px;
	height: 200px;
	padding: 10px;
	margin: 5px;
	float: left;
	color: black;
	font-size: 12px;
	
}

div.item:hover{
	background-color: #f0f0f0;
	
}

a.item{

}

img.itemThumbnail{
	margin-top: 8px;
	margin-left: 25px;
	
	
}

p.price{
	align: left;
}

