<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
		<title th:text="#{guestbook.title}">Gästebuch</title>
	</head>
	
	<body>
	<h1 th:text="#{guestbook.title}">Gästebuch</h1>

	<div class="entries" th:each="entry,iterStat : ${guestbookEntries}">
			<div class="entry">
				<button class="delBtn">x</button>
				<h2 th:text="${iterStat.count} + '. ' + ${entry.name}">1. Posting</h2>
				<p class="entrytext" th:text="${entry.text}"></p>
				<p class="date" th:text="${entry.date}">Datum</p>

			</div>
	</div>

	<div class="login"> 
		<form id="form" action="addEntry" method="post"> 
			<fieldset> 
				<legend th:text="#{guestbook.form.title}">Titel</legend> 
				<label for="name" th:text="#{guestbook.form.name}">Name</label><br /> 
				<input name="name" id="name" type="text" /><br /> 
				<label for="text" th:text="#{guestbook.form.text}">Text</label><br /> 
				<textarea name="text" id="text"></textarea><br /> 
				<input type="submit" class="btn" th:value="#{guestbook.form.submit}" value="Senden" />
			</fieldset> 
		</form> 
	</div>

	<p class="center">
		<a href="/" th:text="#{guestbook.back}">Zurück</a>
	</p>
</body>
</html>